@import '../modules/base';

.achievement_card {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 20px;
    background: $secondary-light;
  }
  
  .achievement_card_img {
    height: 140px;
    width: 100px;
    display: block;
    margin-top: auto;
    margin-bottom: auto
  
  }

  .achievement_card_text {
    color: $secondary-dark;
  }