.custom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #fff; /* Background color for the navbar */
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
    z-index: 9999;
  }